.FeaturedJob{
    margin-bottom: 55px;
}
.bannerImage1{
    position: relative;
    top: -80px;
    left: 980px;
    width: 17%;
}
.bannerImage2{
    position: relative;
    top: -150px;
    right: 80px;
    width: 30%;
    height: 200%;
}
.bannerBody{
    height: 100px;
}
.bannerBody h2{
    position: relative;
    top: -60px;
    left: 500px;
    width: 200px;
}
.FeaturedJobDetails{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 60px
}
.jobDetails{
    margin-bottom: 15px;
    width: 65%;
    background-color: #b7bef086;
    padding: 18px;
    border-radius: 8px;
}
.imgInfo{
    margin: 0;
    display: flex;
    align-items: center;
    gap: 2px;
}

.imgInfo p{
    margin: 4px;
    color: #757575;;
}