.featuredJob{
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 10px 20px;
}
.featuredJob h4{
    margin: 3px;
}
.featuredJob p{
    margin: 3px;
    color: #757575;
}
.featuredJob div{
    margin: 15px;
    display: flex;
    margin: 0;
    gap: 10px
    }
.featuredJob img{
    width: 115px;
    height: 70px;
}
.job-info p{
    margin: 3px;
    color: #7E90FE;
    background-color: #c3c9f427;
    border: 1px solid #7E90FE;
    border-radius: 4px;
    padding: 2px 4px;
}
.address-salary-info{
    display: flex;
    align-items: center;
}
.address-salary-info p{
    margin-top: 3px ;
    margin-bottom: 15px;
}
.address-salary-info img{
    width: 20px;
    height: 20px;
    margin-top: 3px ;
    margin-bottom: 15px;
}