.jobList{
    display: flex;
    align-items: center;
    gap: 50px;
    border: 1px solid #757575;
    margin: 8px;
    padding: 5px;
    border-radius: 8px;
}
.jobList img{
    width: 20%;
    height: 10%;
}
.jobList a{
    text-decoration: none;
}
.job-info{
    display: flex;
}
.job-info p{
    margin: 3px;
    color: #7E90FE;
    background-color: #c3c9f427;
    border: 1px solid #7E90FE;
    border-radius: 4px;
    padding: 2px 4px;
}
.address-salary-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.address-salary-info p{
    margin-top: 3px ;
    margin-bottom: 15px;
}
.address-salary-info img{
    width: 20px;
    height: 20px;
    margin-top: 3px ;
    margin-bottom: 15px;
}