.header-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 500px;
}

.title{
    color: #7e8ffee4;
    border-radius: 8px;
    padding: 0 3px;
}

.header-container a{
    text-decoration: none;
    color: #757575;
    margin-right: 15px;
}
.header-container a:hover{
    color: #9873FF;
}