.blog{
    width: 1063.330px;
}
.bannerImage1{
    position: relative;
    top: -80px;
    left: 980px;
    width: 17%;
}
.bannerImage2{
    position: relative;
    top: -150px;
    right: 80px;
    width: 30%;
    height: 200%;
}
.bannerBody{
    height: 100px;
}
.bannerBody h2{
    position: relative;
    top: -60px;
    left: 500px;
    width: 200px;
}